<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"></meta> 
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>

	<title>Login</title>
	<span th:include="/includes/commons :: #commons"></span>
	<style type="text/css">
		#login {
			background-color: rgba(231, 232, 232, 0.73);
			border: 3px none;
			width: 60%;
			box-shadow: #333 9px 9px 30px 3px inset;
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 20px 0;
		}
	</style>
</head>
<body >
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img
					src="/images/nha-book-blue.png" style="height: 100%; width: 50px;" /></a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#" th:text="#{page.nav.Home}"></a></li>
					<li><a href="#" th:text="#{page.nav.About}"></a></li>
					<li><a href="#" th:text="#{page.nav.FAQ}"></a></li>
					<li><a href="#" th:text="#{page.nav.Contact}"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br></br>
	<!-- body  -->
	<div class="container" id="login">
		<div id="loginbox" style="margin-top: 50px;"
			class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title" style="color: green;" th:text="#{login.message.SignIn}"></div>
					<div
						style="float: right; font-size: 80%; position: relative; top: -10px">
						<a href="#" th:text="#{login.message.forgetPassword}"></a>
					</div>
				</div>

				<div style="padding-top: 30px" class="panel-body">

					<div style="display: none" id="login-alert"
						class="alert alert-danger col-sm-12"></div>

					<form id="loginform" class="form-horizontal" role="form" th:action="@{/login}" method="post">

						<div th:if="${param.error}" class="alert alert-danger" th:text="#{login.message.failed}"> </div>
						<div th:if="${param.logout}" class="alert alert-success" th:text="#{logout.message.success}"> </div>
						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span> 
							<input id="username" type="text" class="form-control" name="username" placeholder="Enter your email" />
						</div>

						<div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-lock"></i>
							</span> 
							<input id="login-password" type="password" class="form-control" name="password" placeholder="Enter your password" />
						</div>

						<div class="input-group">
							<div class="checkbox">
								<label>
								 <input id="login-remember" type="checkbox" name="remember" value="1" th:text="#{login.message.RememberMe}" /> 
								</label>
							</div>
						</div>

						<div style="margin-top: 10px" class="form-group">
							<div class="col-sm-12 controls">
								<button type="submit" class="btn btn-primary" th:text="#{login.message.loginBtn}"></button>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12 control">
								<div style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
									<p th:text="#{login.message.DontHaveAnAccount}"></p> <a href="/pages/regestration"> <p th:text="#{login.message.SignUpHere}"></p> </a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>