<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<title>Question Definition</title>
<span th:include="/includes/commons :: #commons"></span>
<script type="text/javascript" src="/customJS/questionerDefination.js"
	th:src="@{/customJS/questionerDefination.js}" />
</head>

<body ng-controller="myCtrl" ng-init="loadDefination()">
	<div id="wrapper">
		<!-- Navigation -->
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<span th:include="/includes/adminPanelNav :: #adminNav"></span>
		</div>
		<div sec:authorize="hasRole('ROLE_TEACHER')">
			<span th:include="/includes/teachersNav :: #teachersNav"></span>
		</div>
		<div sec:authorize="hasRole('ROLE_STUDENT')">
			<span th:include="/includes/studentNav :: #studentNav"></span>
		</div>
		
		<!-- Message -->
		<div ng-show="SuccessMSG" class="alert alert-success"
			id="success-alert">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<strong>Success! </strong> {{SuccessMSG}}
		</div>
		<div ng-show="ErrorMSG" class="alert alert-danger" id="error-alert">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<strong>Error! </strong> {{ErrorMSG}}
		</div>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header" style="color: green;">
						<label>Edit Profile</label>
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="row">
						<!-- left column -->


						<!-- edit form column -->
						<div class="col-md-9 personal-info">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="text-center">
										<img src="/images/world-lit1.jpg" class="avatar img-circle"
											alt="avatar" style="height: 150px; width: 150px" />
											<hr/>
										<label class="col-lg-3 control-label">Upload a different photo</label>
										<div class="col-lg-8">
											<input type="file" class="form-control" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">First name:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text" value="Jane" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Last name:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text" value="Bishop" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Company:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text" value="" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Email:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text"
											value="janesemail@gmail.com" />
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Username:</label>
									<div class="col-md-8">
										<input class="form-control" type="text" value="janeuser" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Password:</label>
									<div class="col-md-8">
										<input class="form-control" type="password"
											value="11111122333" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Confirm password:</label>
									<div class="col-md-8">
										<input class="form-control" type="password"
											value="11111122333" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label"></label>
									<div class="col-md-8">
										<input type="button" class="btn btn-primary"
											value="Save Changes" /> <span></span> <input type="reset"
											class="btn btn-default" value="Cancel" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<hr />

			</div>
		</div>
	</div>


</body>
</html>