<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<title>profile</title>
<span th:include="/includes/commons :: #commons"></span>
<script type="text/javascript" src="/customJS/profile.js" th:src="@{/customJS/profile.js}" />
</head>

<body ng-controller="myCtrl" ng-init="loadUserInfo()">
	<div id="wrapper">
		<!-- Navigation -->
		<!-- Message -->
		<div ng-show="SuccessMSG" class="alert alert-success"
			id="success-alert">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<strong>Success! </strong> {{SuccessMSG}}
		</div>
		<div ng-show="ErrorMSG" class="alert alert-danger" id="error-alert">
			<button type="button" class="close" data-dismiss="alert">x</button>
			<strong>Error! </strong> {{ErrorMSG}}
		</div>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header" style="color: green;">
						<label>Edit Profile</label>
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="row">
						<!-- left column -->
						<!-- edit form column -->
						<div class="col-md-9 personal-info">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<div class="text-center">
										<img ng-src="/uploads/{{photo}}"  class="avatar img-circle" alt="avatar" style="height: 150px; width: 150px" />
										<hr/>
										<label class="col-lg-3 control-label">Upload a different photo</label>
										<div class="col-lg-8">
											<input type="file" class="form-control" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-8">
										<input class="form-control" type="hidden"  />
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">First name:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text" ng-model="firstName"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Last name:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text" ng-model="lastName"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Email:</label>
									<div class="col-lg-8">
										<input class="form-control" type="email" ng-model="email"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label">Phone:</label>
									<div class="col-lg-8">
										<input class="form-control" type="text" ng-model="phone"/>
									</div>
								</div>

								<div style="margin-bottom: 25px" class="form-group">
									<label class="col-md-4 control-label" for="radios">Gender</label>
									<div class="col-md-4" >
										<label class="radio-inline" for="radios-0"> 
											<input type="radio" ng-model="gender" name="radios" id="radios-0" ng-value="'Male'" /> Male
										</label> 
										<label class="radio-inline" for="radios-1"> 
											<input type="radio" ng-model="gender" name="radios" id="radios-1" ng-value="'Female'" /> Female
										</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Password:</label>
									<div class="col-md-8">
										<input class="form-control" type="password" ng-model="password"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Confirm password:</label>
									<div class="col-md-8">
										<input class="form-control" type="password"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Current Address:</label>
									<div class="col-md-8">
										<input class="form-control" type="text" ng-model="currentAddress"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Permanent Address:</label>
									<div class="col-md-8">
										<input class="form-control" type="text" ng-model="permanentAddress"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Status:</label>
									<div class="col-md-8">
										<input class="form-control" type="text" ng-model="status" ng-disabled="true"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Security Question:</label>
									<div class="col-md-8">
										<select ng-required="true" id="securityQuestion" name="securityQuestion"  ng-options="x for x in securityQuestions" ng-model="securityQuestion" class="form-control" title="select Security Question">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Security Answer:</label>
									<div class="col-md-8">
										<input class="form-control" type="text" ng-model="securityAns"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label"></label>
									<div class="col-md-8">
										<input type="button" class="btn btn-primary" value="Save Changes" /> <span></span> 
										<input type="reset" class="btn btn-default" onclick="history.back(-1)" value="Cancel" />
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<hr />
			</div>
		</div>
	</div>
</body>
</html>