<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>

	<title>result</title>
	<span th:include="/includes/commons :: #commons"></span>
	<script type="text/javascript" src="/customJS/result.js" th:src="@{/customJS/result.js}"/>
</head>

<body ng-controller="myCtrl">
	<div id="wrapper">
		<!-- Navigation -->
		<span th:include="/includes/studentNav :: #studentNav"></span>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header" style="color : green;"> <span sec:authentication="name"></span>'s Result</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<button class="text-center btn btn-primary">Show Result</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>