<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>

	<title>Teachers panel</title>
	<span th:include="/includes/commons :: #commons"></span>
</head>

<body>
	<div id="wrapper">
		<!-- Navigation -->
		<span th:include="/includes/studentNav :: #studentNav"></span>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header" style="color : green;"> Student Home</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Basic Form Elements
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<h2>Hello <strong><span sec:authentication="name"></span></strong></h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>